html, body {
    height: 100%;
}

body {
    background-image: url("../img/pozadie.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.container {
    min-height: 100%;
    overflow:auto;
    padding-bottom:100px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.carousel-inner img {
    width: 100%;
    height: 100%;
}

.carousel-inner {
    max-height: 500px;
    max-width: 1140px;
}

.container-fluid {
    max-height: 500px;
}

.zoom a {
    text-decoration: none;
    color: white;
}

.imgSlider {
    max-height: 500px;
    max-width: 1140px;
    left: 50%;
    transform: translate(-50%);
}

.kontajner {
    max-height: 800px;
}

.pata {
    z-index: 1;
}

.cierna {
    background-color: #21252b;
}

.textStred {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(33, 37, 43, 0.6);
}

.imgText {
    position: relative;
    text-align: center;
    color: white;
}

.zoom {
    transition: transform .2s;
}

.zoom:hover {
    transform: scale(1.1);
}

.citat {
    font-size: 40px;
    font-style: italic;
}

.top {
    margin-top: 50px;
}

.page-footer {
    position: relative;
    margin-top: -150px;
    clear:both;
    padding-top:20px;
    background-color: #141516;
}

.table {
    margin-top: 50px;
}

.stred {
    position: absolute;
    width: 300px;
    left: 50%;
    transform: translate(-50%);
}

.container h3 {
    text-align: center;
    margin-bottom: 10px;
}


